# Using Pandas

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [28]:
vehicles_df= pd.read_csv("data/vehicles.csv")

<b>load the data from the vehicles.csv file into pandas data frame

In [29]:
vehicles_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [30]:
type(vehicles_df)

pandas.core.frame.DataFrame

In [31]:
vehicles_df.info

<bound method DataFrame.info of                    Make                Model  Year  Engine Displacement  \
0            AM General    DJ Po Vehicle 2WD  1984                  2.5
1            AM General     FJ8c Post Office  1984                  4.2
2            AM General  Post Office DJ5 2WD  1985                  2.5
3            AM General  Post Office DJ8 2WD  1985                  4.2
4      ASC Incorporated                  GNX  1987                  3.8
...                 ...                  ...   ...                  ...
35947             smart         fortwo coupe  2013                  1.0
35948             smart         fortwo coupe  2014                  1.0
35949             smart         fortwo coupe  2015                  1.0
35950             smart         fortwo coupe  2016                  0.9
35951             smart         fortwo coupe  2016                  0.9

       Cylinders     Transmission        Drivetrain  \
0            4.0  Automatic 3-spd     2-Wheel Drive
1            6.0  Automatic 3-spd     2-Wheel Drive
2            4.0  Automatic 3-spd  Rear-Wheel Drive
3            6.0  Automatic 3-spd  Rear-Wheel Drive
4            6.0  Automatic 4-spd  Rear-Wheel Drive
...          ...              ...               ...
35947        3.0        Auto(AM5)  Rear-Wheel Drive
35948        3.0        Auto(AM5)  Rear-Wheel Drive
35949        3.0        Auto(AM5)  Rear-Wheel Drive
35950        3.0        Auto(AM6)  Rear-Wheel Drive
35951        3.0     Manual 5-spd  Rear-Wheel Drive

                     Vehicle Class Fuel Type  Fuel Barrels/Year  City MPG  \
0      Special Purpose Vehicle 2WD   Regular          19.388824        18
1      Special Purpose Vehicle 2WD   Regular          25.354615        13
2      Special Purpose Vehicle 2WD   Regular          20.600625        16
3      Special Purpose Vehicle 2WD   Regular          25.354615        13
4                     Midsize Cars   Premium          20.600625        14
...                            ...       ...                ...       ...
35947                  Two Seaters   Premium           9.155833        34
35948                  Two Seaters   Premium           9.155833        34
35949                  Two Seaters   Premium           9.155833        34
35950                  Two Seaters   Premium           9.155833        34
35951                  Two Seaters   Premium           9.417429        32

       Highway MPG  Combined MPG  CO2 Emission Grams/Mile  Fuel Cost/Year
0               17            17               522.764706            1950
1               13            13               683.615385            2550
2               17            16               555.437500            2100
3               13            13               683.615385            2550
4               21            16               555.437500            2550
...            ...           ...                      ...             ...
35947           38            36               244.000000            1100
35948           38            36               243.000000            1100
35949           38            36               244.000000            1100
35950           39            36               246.000000            1100
35951           39            35               255.000000            1150

[35952 rows x 15 columns]>

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

Note:
<br>Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

In [32]:
vehicles_df.loc[vehicles_df['Make'].str.contains('Dutton'), 'Make'] = 'Dutton'

In [33]:
vehicles_df[vehicles_df['Make'].str.contains("Dutton")]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11012,Dutton,Funeral Coach,1985,4.1,8.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
30164,Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,9,11,10,888.700000,3350
31754,Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,10,11,10,888.700000,3350

In [34]:
vehicles_df["CO2 Emission Grams/Mile"]=vehicles_df["CO2 Emission Grams/Mile"]*1.60934

In [35]:
vehicles_df = vehicles_df.rename(columns={'CO2 Emission Grams/Mile': 'CO2 Emission Grams/Km'})

In [27]:
vehicles_df["Fuel Barrels/Year"]=vehicles_df["Fuel Barrels/Year"]*3.78541

In [63]:
vehicles_df = vehicles_df.rename(columns={'Fuel Barrels/Year': 'Fuel Gallon/Year'})

In [134]:
import numpy as np
vehicles_df["Auto/Manuel"]=np.where(vehicles_df['Transmission'].str.contains('Auto'), "AUTO","MANUEL")

In [135]:
vehicles_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Gallon/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year,year,Auto/Manuel
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,841.306152,1950,NaN,AUTO
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,1100.169583,2550,NaN,AUTO
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,893.887786,2100,NaN,AUTO
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,1100.169583,2550,NaN,AUTO
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,893.887786,2550,NaN,AUTO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,392.678960,1100,NaN,AUTO
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,391.069620,1100,NaN,AUTO
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,392.678960,1100,NaN,AUTO
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,395.897640,1100,NaN,AUTO
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,410.381700,1150,NaN,MANUEL


### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [186]:
car_makers=vehicles_df['Make'].value_counts()

In [187]:
car_makers.count()

125

In [64]:
models=vehicles_df['Model'].value_counts()
models

F150 Pickup 2WD      197
F150 Pickup 4WD      179
Truck 2WD            173
Mustang              170
Jetta                169
                    ...
C300 Convertible       1
C300 Coupe             1
C300 FFV               1
C320 4matic Sedan      1
DJ Po Vehicle 2WD      1
Name: Model, Length: 3608, dtype: int64

In [60]:
models.count()

3608

In [65]:
maker=vehicles_df['Make'].value_counts()
maker

Chevrolet                           3643
Ford                                2946
Dodge                               2360
GMC                                 2347
Toyota                              1836
BMW                                 1677
Mercedes-Benz                       1284
Nissan                              1253
Volkswagen                          1047
Mitsubishi                           950
Mazda                                915
Audi                                 890
Porsche                              862
Honda                                836
Jeep                                 829
Pontiac                              784
Subaru                               781
Volvo                                717
Hyundai                              662
Chrysler                             641
Buick                                537
Mercury                              532
Suzuki                               512
Cadillac                             508
Kia                                  493
Plymouth                             456
Saab                                 410
Isuzu                                409
Lexus                                397
Oldsmobile                           376
Infiniti                             345
Jaguar                               343
MINI                                 320
Acura                                302
Saturn                               278
Lincoln                              273
Ferrari                              208
Rolls-Royce                          160
Eagle                                156
Geo                                  144
Land Rover                           142
Aston Martin                         133
Bentley                              116
Maserati                             111
Lamborghini                          104
Scion                                 83
Peugeot                               74
Daewoo                                67
Ram                                   57
Lotus                                 53
Roush Performance                     53
Fiat                                  43
Alfa Romeo                            41
J.K. Motors                           36
Renault                               33
Wallace Environmental                 32
Maybach                               31
American Motors Corporation           22
smart                                 20
Hummer                                19
Daihatsu                              17
CX Automotive                         16
Merkur                                14
Federal Coach                         14
Import Trade Services                 13
McLaren Automotive                    13
Spyker                                13
Sterling                              12
Bugatti                                8
Yugo                                   8
Genesis                                7
Tecstar, LP                            6
Mcevoy Motors                          6
Bertone                                5
VPG                                    5
Saleen                                 5
Panther Car Company Limited            4
Saleen Performance                     4
AM General                             4
Grumman Olson                          4
Texas Coach Company                    4
Vector                                 4
Autokraft Limited                      4
TVR Engineering Ltd                    4
Bitter Gmbh and Co. Kg                 3
Evans Automobiles                      3
BMW Alpina                             3
Consulier Industries Inc               3
Dabryan Coach Builders Inc             3
Dacia                                  3
Dutton                                 3
Morgan                                 3
Ruf Automobile Gmbh                    2
Bill Dovell Motor Car Company          2
Mobility Ventures LLC                  2
Laforza Automobile Inc                 2
CCC Engineering                        2
PAS Inc - GMC                          2
PAS, Inc                               2
SRT                                    2
Pagani                                 2
Red Shift Ltd.                         2
Pininfarina                            2
Quantum Technologies                   2
Isis Imports Ltd                       1
Mahindra                               1
ASC Incorporated                       1
Aurora Cars Ltd                        1
Volga Associated Automobile            1
Vixen Motor Company                    1
JBA Motorcars, Inc.                    1
London Coach Co Inc                    1
London Taxi                            1
Import Foreign Auto Sales Inc          1
Environmental Rsch and Devp Corp       1
Grumman Allied Industries              1
Goldacre                               1
General Motors                         1
Shelby                                 1
Fisker                                 1
Panos                                  1
Panoz Auto-Development                 1
Excalibur Autos                        1
Qvale                                  1
Lambda Control Systems                 1
Name: Make, dtype: int64

In [139]:
chev=vehicles_df[vehicles_df['Make']=="Chevrolet"][['Make',"Model","Year","Transmission","Engine Displacement"]]

In [140]:
chev

,Make,Model,Year,Transmission,Engine Displacement
4275,Chevrolet,Astro 2WD (cargo),1985,Manual 4-spd,2.5
4276,Chevrolet,Astro 2WD (cargo),1985,Automatic 4-spd,4.3
4277,Chevrolet,Astro 2WD (cargo),1985,Manual 4-spd,4.3
4278,Chevrolet,Astro 2WD (cargo),1985,Manual 5-spd,4.3
4279,Chevrolet,Astro 2WD (cargo),1985,Automatic 4-spd,2.5
...,...,...,...,...,...
7913,Chevrolet,Volt,2013,Automatic (variable gear ratios),1.4
7914,Chevrolet,Volt,2014,Automatic (variable gear ratios),1.4
7915,Chevrolet,Volt,2015,Automatic (variable gear ratios),1.4
7916,Chevrolet,Volt,2016,Automatic (variable gear ratios),1.5
7917,Chevrolet,Volt,2017,Automatic (variable gear ratios),1.5

In [148]:
trans=vehicles_df["Transmission"].value_counts()

In [149]:
trans

Automatic 4-spd                     10585
Manual 5-spd                         7787
Automatic (S6)                       2631
Automatic 3-spd                      2597
Manual 6-spd                         2423
Automatic 5-spd                      2171
Automatic 6-spd                      1432
Manual 4-spd                         1306
Automatic (S8)                        960
Automatic (S5)                        822
Automatic (variable gear ratios)      675
Automatic 7-spd                       662
Automatic (S7)                        261
Auto(AM-S7)                           256
Automatic 8-spd                       243
Automatic (S4)                        229
Auto(AM7)                             157
Auto(AV-S6)                           145
Auto(AM6)                             110
Auto(AM-S6)                            92
Automatic 9-spd                        90
Manual 3-spd                           74
Manual 7-spd                           68
Auto(AV-S7)                            63
Auto(AV-S8)                            26
Automatic (S9)                         26
Auto(AM5)                              12
Automatic (AV-S6)                       9
Auto(AM-S8)                             6
Auto(AM8)                               5
Automatic (AV)                          4
Automatic (A6)                          4
Automatic (A1)                          3
Manual(M7)                              3
Auto (AV)                               2
Auto(L4)                                2
Auto(L3)                                2
Automatic (AM5)                         2
Auto(AM-S9)                             1
Automatic 6spd                          1
Auto (AV-S6)                            1
Auto (AV-S8)                            1
Auto(A1)                                1
Automatic (AM6)                         1
Manual 5 spd                            1
Name: Transmission, dtype: int64

In [150]:
Drivetrain=vehicles_df["Drivetrain"].value_counts()

In [151]:
Drivetrain

Front-Wheel Drive             13044
Rear-Wheel Drive              12726
4-Wheel or All-Wheel Drive     6503
All-Wheel Drive                2039
4-Wheel Drive                  1058
2-Wheel Drive                   423
Part-time 4-Wheel Drive         158
2-Wheel Drive, Front              1
Name: Drivetrain, dtype: int64

In [152]:
fuel_types=vehicles_df["Fuel Type"].value_counts()

In [153]:
fuel_types

Regular                        23587
Premium                         9921
Gasoline or E85                 1195
Diesel                           911
Premium or E85                   121
Midgrade                          74
CNG                               60
Premium and Electricity           20
Gasoline or natural gas           20
Premium Gas or Electricity        17
Regular Gas and Electricity       16
Gasoline or propane                8
Regular Gas or Electricity         2
Name: Fuel Type, dtype: int64

In [176]:
vehicles_df.groupby(["Make", "Model"])["Fuel Gallon/Year"].max()

Make              Model
AM General        DJ Po Vehicle 2WD      19.388824
                  FJ8c Post Office       25.354615
                  Post Office DJ5 2WD    20.600625
                  Post Office DJ8 2WD    25.354615
ASC Incorporated  GNX                    20.600625
                                           ...
Yugo              GV/GVX                 13.184400
                  Gy/yugo GVX            13.184400
smart             fortwo cabriolet        9.694412
                  fortwo convertible      9.155833
                  fortwo coupe            9.417429
Name: Fuel Gallon/Year, Length: 3675, dtype: float64

In [177]:
vehicles_df[vehicles_df['Fuel Gallon/Year']==vehicles_df['Fuel Gallon/Year'].max()]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Gallon/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year,year,Auto/Manuel
20894,Lamborghini,Countach,1986,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,2043.172083,5800,NaN,MANUEL
20895,Lamborghini,Countach,1987,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,2043.172083,5800,NaN,MANUEL
20896,Lamborghini,Countach,1988,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,2043.172083,5800,NaN,MANUEL
20897,Lamborghini,Countach,1989,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,2043.172083,5800,NaN,MANUEL
20898,Lamborghini,Countach,1990,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,2043.172083,5800,NaN,MANUEL

In [178]:
vehicles_df[vehicles_df['Fuel Gallon/Year']==vehicles_df['Fuel Gallon/Year'].min()]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Gallon/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year,year,Auto/Manuel
17395,Honda,Civic Natural Gas,2012,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.06,27,38,31,368.046973,1000,NaN,AUTO
17396,Honda,Civic Natural Gas,2013,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.06,27,38,31,350.836120,1000,NaN,AUTO
17397,Honda,Civic Natural Gas,2014,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.06,27,38,31,350.836120,1000,NaN,AUTO
17398,Honda,Civic Natural Gas,2015,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.06,27,38,31,350.836120,1000,NaN,AUTO

<b> (Optional)

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [184]:
vehicles_df.groupby("Make")["CO2 Emission Grams/Km"].mean().sort_values(ascending=False)

Make
Vector                              1688.454707
Bugatti                             1405.054404
Laforza Automobile Inc              1300.200416
Dutton                              1233.915689
Rolls-Royce                         1231.268456
Lamborghini                         1214.701665
Texas Coach Company                 1191.850382
Maybach                             1174.105711
Ferrari                             1146.874180
Bentley                             1104.082334
Ruf Automobile Gmbh                 1100.169583
Tecstar, LP                         1100.169583
Aston Martin                        1082.470692
Pagani                              1079.867140
Saleen Performance                  1060.877812
Wallace Environmental               1058.929674
Vixen Motor Company                 1023.942575
Excalibur Autos                     1021.586041
PAS, Inc                            1021.586041
J.K. Motors                         1012.666891
Roush Performance                   1000.872897
Maserati                             998.917774
AM General                           983.883276
SRT                                  976.869380
Land Rover                           966.786978
Saleen                               960.683797
JBA Motorcars, Inc.                  953.480305
PAS Inc - GMC                        953.480305
Panos                                953.480305
CCC Engineering                      953.480305
Aurora Cars Ltd                      953.480305
Hummer                               946.311280
Spyker                               936.222743
Federal Coach                        933.914214
Import Trade Services                922.586187
GMC                                  919.723603
VPG                                  919.457620
Bitter Gmbh and Co. Kg               913.751959
BMW Alpina                           913.751959
Environmental Rsch and Devp Corp     893.887786
London Coach Co Inc                  893.887786
ASC Incorporated                     893.887786
Dodge                                892.386794
CX Automotive                        889.171583
Mobility Ventures LLC                881.113650
Dabryan Coach Builders Inc           878.697536
Autokraft Limited                    867.596969
Morgan                               841.306152
Bill Dovell Motor Car Company        841.306152
Lambda Control Systems               841.306152
Grumman Allied Industries            841.306152
Shelby                               841.306152
Ford                                 829.560235
Chevrolet                            825.075305
Mahindra                             819.154060
American Motors Corporation          813.937904
Mercedes-Benz                        806.574090
Jeep                                 802.707699
Cadillac                             798.685042
Goldacre                             794.566921
General Motors                       794.566921
TVR Engineering Ltd                  794.566921
Jaguar                               794.040089
Merkur                               790.947266
Isuzu                                790.535784
Sterling                             788.007029
McLaren Automotive                   787.304259
Lincoln                              783.656569
Ram                                  772.747188
Peugeot                              755.146238
Evans Automobiles                    752.747609
Import Foreign Auto Sales Inc        752.747609
Volga Associated Automobile          752.747609
Genesis                              746.963666
Alfa Romeo                           746.656697
Porsche                              746.428881
London Taxi                          744.685509
Infiniti                             743.277435
BMW                                  736.231766
Nissan                               734.112337
Mcevoy Motors                        727.656022
Audi                                 725.419405
Chrysler                             719.002404
Lotus                                715.339705
Isis Imports Ltd                     715.110229
Saab                                 713.723440
Lexus                                712.865096
Oldsmobile                           709.262569
Panther Car Company Limited          706.597012
Mercury                              703.151018
Pininfarina                          701.423909
Volvo                                701.356415
Toyota                               701.343618
Buick                                699.200056
Mitsubishi                           694.385320
Qvale                                681.057361
Consulier Industries Inc             681.057361
Quantum Technologies                 681.057361
Acura                                680.083467
Mazda                                678.051221
Plymouth                             670.850768
Pontiac                              666.954267
Eagle                                661.676963
Subaru                               650.682011
Panoz Auto-Development               650.100208
Bertone                              650.100208
Suzuki                               632.064322
Volkswagen                           632.054961
Kia                                  628.670654
Daewoo                               624.033649
Dacia                                621.834982
Red Shift Ltd.                       621.834982
Hyundai                              619.630810
Saturn                               605.619222
Renault                              579.083173
Honda                                575.391478
Grumman Olson                        573.468068
Yugo                                 573.034887
Geo                                  542.472450
Scion                                533.328707
MINI                                 504.877095
Daihatsu                             499.198053
Fiat                                 490.312081
smart                                397.556154
Fisker                               271.978460
Name: CO2 Emission Grams/Km, dtype: float64

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [185]:
vehicles_df.groupby("Auto/Manuel")["Fuel Gallon/Year"].mean().sort_values(ascending=False)

Auto/Manuel
AUTO      18.043152
MANUEL    16.704904
Name: Fuel Gallon/Year, dtype: float64